html, body {
        height: 99%;
        margin: 0px;
        padding: 0px;
}

#map-canvas {
		width: 99%;
		height:80%;
}

#stats {
	width : 99%;
	height : 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align : center;
	background: #f5deb3;
	color : #8B4513;  
}

#stats span{
	font-size : 20px;
	margin-right: 25px; 
}

#info {
	width : 99%;
	height : 10%;
	text-align : center;
	padding-top : 10px;
	padding-bottom : 10px; 
	background: #f5deb3;
	color : #8B4513;	
}

#infoWindow {
	width : 200px;
	text-align : center;
	font-size : 20px;
}